<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Japanese Samurai History {{group}}- Forum</title>
<link rel="shortcut icon" type="image/x-icon" href="logo.png" />
</head>
<body>
<p><a href="index.html">Home</a></p>
<h1>Japanese Samurai History {{group}}- Forum</h1>

<!-- start of freefind search box html -->
<table cellpadding=0 cellspacing=0 border=0 >
<tr>
	<td  colspan=2 style="font-family: Arial, Helvetica, sans-serif;">
		<form style="margin:0px; margin-top:4px;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_blank">
		<input type="hidden" name="si" value="1415846">
		<input type="hidden" name="pid" value="r">
		<input type="hidden" name="n" value="0">
		<input type="hidden" name="_charset_" value="">
		<input type="hidden" name="bcd" value="&#247;">
		<input type="text" name="query" style="min-width: 200px;"> 
		<input type="submit" value="search">
		</form>
	</td>
</tr>
<tr>
	<td style="text-align:left; font-family: Arial, Helvetica, sans-serif; padding-top:4px;"></td>	
	<td style="text-align:right; font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt; padding-top:4px;">
		<a href="https://search.freefind.com/find.html?si=1415846&amp;pid=a">advanced</a>
	</td>
</tr>
</table>
<!-- end of freefind search box html -->

<ul>
{{content}}
</ul>

<hr/>
Made with <a href="https://github.com/shinsengumi-archives/samuraihistory" style="text-decoration: none; color: black;">&hearts;</a>

</body>
</html>

